{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title center-text">{{ category.name }}</h5>
                            <a href="{% url 'category_detail' category.id %}" class="btn btn-primary">View Listings</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <form method="POST" class="mb-3">
        {% csrf_token %}
    </form>
{% endblock %} 